In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import decimal
import math
from datetime import datetime as dt
from datetime import timedelta
from tqdm import tqdm

import os

# Data Review

In [5]:
file_list = list(os.listdir('D:/Working_Place/new_ssg/Data/(all) POS영수증(202101)'))
pos = []
for filename in file_list:
    if 'POS' in filename:
        pos.append(filename)
pos

['POS영수증(201801).csv',
 'POS영수증(201802).csv',
 'POS영수증(201803).csv',
 'POS영수증(201804).csv',
 'POS영수증(201805).csv',
 'POS영수증(201806).csv',
 'POS영수증(201807).csv',
 'POS영수증(201808).csv',
 'POS영수증(201809).csv',
 'POS영수증(201810).csv',
 'POS영수증(201811).csv',
 'POS영수증(201812).csv',
 'POS영수증(201901).csv',
 'POS영수증(201902).csv',
 'POS영수증(201903).csv',
 'POS영수증(201904).csv',
 'POS영수증(201905).csv',
 'POS영수증(201906).csv',
 'POS영수증(201907).csv',
 'POS영수증(201908).csv',
 'POS영수증(201909).csv',
 'POS영수증(201910).csv',
 'POS영수증(201911).csv',
 'POS영수증(201912).csv',
 'POS영수증(202001).csv',
 'POS영수증(202002).csv',
 'POS영수증(202003).csv',
 'POS영수증(202004).csv',
 'POS영수증(202005).csv',
 'POS영수증(202006).csv',
 'POS영수증(202007).csv',
 'POS영수증(202008).csv',
 'POS영수증(202009).csv',
 'POS영수증(202010).csv',
 'POS영수증(202011).csv',
 'POS영수증(202012).csv',
 'POS영수증(202101).csv',
 'POS영수증(202102).csv',
 'POS영수증(202103).csv',
 'POS영수증(202104).csv',
 'POS영수증(202105).csv',
 'POS영수증(202106).csv',
 'POS영수증(202107).csv',
 'POS영수증(202108).csv']

In [6]:
data_samples = []
for file in tqdm(pos):
    each_data = pd.read_csv('D:/Working_Place/new_ssg/Data/(all) POS영수증(202101)/'+file)
    each_data_sampled = each_data.sample(frac=0.01)
    data_samples.append(each_data_sampled)
    del each_data
    del each_data_sampled

100%|██████████████████████████████████████████████████████████████████████████████████| 44/44 [00:42<00:00,  1.05it/s]

In [7]:
pos_sample = pd.concat(data_samples)
del data_samples
pos_sample

,OCCDATE,STORECD,POSNO,TRADE_NO,ITEM_SEQ,SALETIME,TRADE_TYPE,SKUCD,REVN_QTY,REVN_AMT,ENURI_GB,ENURI_AMT,SPRC,MRGNRATE
213219,20180105,2204,3261,183,2,202423,0,8809274511234,1,3500,1,1750,3500,64.76
259787,20180106,2008,4021,3767,6,195757,0,5411616002220,1,2680,0,0,2680,19.95
942578,20180120,2008,4021,537,20,110751,0,8801114141380,1,2980,0,0,2980,33.30
62695,20180102,2204,3262,5564,2,173805,0,2500000119910,1,6980,0,0,6980,19.77
966926,20180120,2336,6683,8502,14,140136,0,8809123258228,1,1000,0,0,1000,14.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427124,20210811,2007,3131,8545,2,134748,0,8801045612416,1,6200,0,0,6200,36.22
1057188,20210826,2008,4024,7872,7,124640,0,8801117641801,1,3000,0,0,3000,29.64
724601,20210817,2336,6681,6257,3,133533,0,8801114102091,1,2500,0,0,2500,26.20
483977,20210812,2336,6681,3688,1,182559,0,8801043015967,1,1100,0,0,1100,24.50
520350,20210813,2314,7603,1620,4,182133,0,2500000064531,1,1980,0,0,1980,39.39

## OCCDATE

In [9]:
pos_sample.loc[213219,'OCCDATE'],type(pos_sample.loc[213219,'OCCDATE'])

(20180105.0, numpy.float64)